<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" style="display: block;">
          <div class="container-fluid">
            <div class="table-responsive">
              <table width="100%" class="table table-bordered table-striped" id="dataGameGame">
                <thead class="thead-info">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Equipo Local</th>
                    <th scope="col">Equipo Visitante</th>
                    <th scope="col">Arbitro Central</th>
                    <th scope="col">Estadio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="text-center">Hora</th>
                    <th scope="col" class="text-center">Opciones</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>