{% extends 'skin.html' %}
{% load static %}
{% load widget_tweaks %}
{% load security_extras %}
{% block head %}
    <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/accessibility.js' %}"></script>
    <script src="{% static 'SportLeague/js/form.js' %}"></script>
    <script src="{% static 'SportLeague/js/list.js' %}"></script>

    {% include 'librays.html' %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    
        {% if request.user.get_group_id_session == 1 %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>
                                        <strong>Ligas Deportivas</strong> 
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <a
                                        id="modalActivate" type="button"
                                        data-toggle="modal" data-target="#exampleModalPreview-createLiga"
                                        data-toggle="tooltip"
                                        title="Editar registro"
                                        class="btn btn-success float-right">
                                        Crear Liga Deportiva <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                {% include 'SportLeague/index.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list LIGAS PARROQUIALES -->
            {% include 'SportLeague/list.html' %}
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <strong>Ligas Deportivas</strong> 
                                </h4>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'SportLeague/list.html' %}
        {% endif %}
    </div>

{% endblock %}
